/* ==========================================================================
   Buttons
   ========================================================================== */

/**
 * The button classes are best applied to links, buttons, and submit inputs.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 *
 * Recommended use:
 *
 * <a class="Button [Button--modifier]" role="button" href="[url]">Button text</a>
 * <button class="Button [Button--modifier]" type="submit">Button text</button>
 * <input class="Button [Button--modifier]" type="submit" value="Button text">
 */


/**
 * Basic button structural styling. Extend in your theme stylesheet.
 */

.Button {
	position: relative;
	display: inline-block;
	padding: rhythm(.5) rhythm(1);
	border: none;
	border-radius: 0; /* To remove rounded corners in Safari on iOS 5+ */
	background: $color-base-black;
	color: $color-base-white;
	line-height: inherit; /* For anchor button to behave nicely */
	cursor: pointer;
}

/* Button states */

.Button:hover,
.Button:focus,
.Button:active {
	text-decoration: none;
}

.Button:active {
	top: 1px;
	outline: none;
	// transition: none; // Check out article about UI feedback: http://bfred.it/notes/?p=46
}

.Button:disabled,
.Button.is-disabled {
	&,
	&:hover,
	&:focus,
	&:active {
		top: 0 !important;
		background: $color-gray-x-light !important;
		color: $color-gray-light !important;
		cursor: default !important;
	}
}

/**
 * Primary button
 */

.Button--primary {
	background: $color-base-blue;
	color: $color-base-white;

	&:hover {
		background: $color-blue-dark;
	}
	&:active {
		background: $color-base-blue;
	}
}

/**
 * Secondary button
 */

// .Button--secondary {}

/**
 * Button size modifiers
 */

.Button--small {
	margin-bottom: rhythm(.5);
	padding: rhythm(.25);
}

.Button--large {
	margin-bottom: rhythm(.5);
	padding: rhythm(.75) rhythm(1);
}

/* Full width button */

.Button--full {
	display: block;
	padding-right: 0;
	padding-left: 0;
	width: 100%;
	text-align: center;
}
