/* ==========================================================================
   Tooltips (http://jsfiddle.net/csswizardry/whP2F/)
   ========================================================================== */

/**
 * A simple tooltip component. Simply drop a `data-tooltip` attribute onto
 * (almost) any element and have a tooltip placed center-bottom on hover.
 *
 * Because the tooltip text is sourced from a `data-*` attribute, do not use
 * it for any content which *needs* to be accessible: use it for decorative
 * information only.
 *
 * Example HTML:
 * <p>
 *   Please
 *   <a href="#" data-tooltip="In under 30 seconds">sign up</a>, or
 *   <a href="#" data-tooltip="Welcome back!">log in</a>!
 * </p>
 */

[data-tooltip] {
	position: relative; // [1]

	/**
	 * 1. Hide our tooltips by default. This is still ‘accessible’ as our tooltip
	 *    text only exists in generated content anyway.
	 */

	&:before,
	&:after {
		content: none;
		content: normal;
	}

	/**
	 * Show the tooltip when we give the element attention.
	 *
	 * 1. Fade tooltips in gradually so they don’t appear too abruptly.
	 * 2. Populate the tooltips when we show the element some attention.
	 * 3. Source the tooltip’s content from its `data-tooltip` attribute.
	 */

	&:hover,
	&:active,
	&:focus {

		&:before,
		&:after {
			-webkit-animation: 0.5s tooltip linear;
			   -moz-animation: 0.5s tooltip linear;
					animation: 0.5s tooltip linear;
		}

		&:before {
			content: ""; // [2]
		}

		&:after {
			content: attr(data-tooltip); // [2] [3]
		}

	}

	/**
	 * Create an arrow (linking the tooltip to its originator) using pure
	 * CSS triangles.
	 */

	&:before {
		position: absolute;
		top: 100%;
		left: 50%;
		margin-top:  -3px;
		margin-left: -5px;
		border: 5px solid transparent;
		border-bottom-color: $color-base-yellow;

	}

	/**
	 * The textual part of the tooltip.
	 *
	 * 1. Position the text center–bottom.
	 */

	&:after {
		position: absolute; // [1]
		top: 100%; // [1]
		left: 50%; // [1]
		z-index: 1;
		margin-top: rhythm(.5);
		padding-right: rhythm(.25);
		padding-left: rhythm(.25);
		border-bottom: 1px solid shade($color-base-yellow, 32%);
		border-radius: rhythm(.25);
		background-color: $color-base-yellow;
		color: #fff;
		white-space: nowrap;
		font-weight: normal;
		transform: translateX(-50%);
	}

}

/**
 * Animation to gradually fade tooltips in.
 */

@keyframes tooltip {
	from {
		opacity: 0;
	}
	66.666% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
