/* ==========================================================================
   Backdrop (dim page)
   ========================================================================== */

.Backdrop {
	@include rgb-alpha(background-color, $color-base-black, .6);

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $z-index-backdrop;

	// Animation
	&.js-backdrop {
		opacity: 0;
		transition: opacity .24s ease-out;
	}
	&.is-visible {
		opacity: 1;
	}
	&.is-hidden {
		opacity: 0;
		z-index: $z-index-hidden;
	}
}
