/* ==========================================================================
   Accordion (expand / collapse)
   ========================================================================== */

.Accordion {
	position: relative;
	padding: rhythm(1);
	margin: rhythm(1) 0;
	background-color: $color-gray-x-light;
}

.Accordion-target {
	.is-closed & {
		position: relative;
		overflow: hidden;
		height: 0;
	}
	.is-open & {
		height: auto;
		padding-top: rhythm(1);
	}
}
