/* ==========================================================================
   Forms
   ========================================================================== */

.Form {
	margin-bottom: rhythm(1);
}

/* Fieldset */

.Form fieldset {
	margin: 0 0 rhythm(1);
	padding: 0;
	border: 0;
}

/**
 * Group sets of form fieldsets in a (ordered) list, e.g.:
 * <form class="Form">
 *    <fieldset>
 *       <ol class="Form-fields">
 *          <li class="Form-item Form-item--stacked">
 *             <label for="text" class="Form-label">...</label>
 *             <input id="text" type="text">
 *          </li>
 *          <li class="Form-item Form-item--stacked">
 *             ...
 *          </li>
 *          <li class="Form-item">
 *             ...
 *          </li>
 *       </ol>
 * </form>
 */

.Form-fields {

	.Copy & { // Reset form list within Copy class
		margin-left: 0;

		li {
			list-style: none;
		}
	}
}

.Form label,
.Form input,
.Form textarea,
.Form select {
	display: inline-block;
	vertical-align: middle;
}

.Form--inline .Form-item {
	display: inline-block;
	margin-right: rhythm(1);
}

.Form-item {
	margin-bottom: rhythm(1);
}

.Form-label {
	font-weight: 600;
}

.Form-item--stacked .Form-label {
	display: block;
	margin-bottom: rhythm(.5);
}

.Form-input {
	@include input-placeholder { color: $color-gray-x-light; }

	padding: rhythm(.25); // To keep vertical rhythm it should be smaller than rhythm podding of `.Form-label`
	// outline: none; // Disbale default browser focus outline (make sure to add custom focus styling)
	border: .125em solid $color-base-black;
	background-color: $color-gray-quiet;
	box-shadow: inset 1px 1px 2px 0 $color-gray-light;
	-webkit-appearance: none; /* Reset iOS inset schaodw on inputs */

	&:focus {
		border-color: $color-gray-x-light;
		background-color: $color-base-white;
	}
}

.Form-input--full {
	width: 100%; /* Causes iOS 6 orientation viewport issue: http://j.mp/Sa3zh3 */
}

/**
 * Override the normalize.css search input `box-sizing` normalization.
 */

.Form-input[type="search"] {
	box-sizing: border-box;
}

/**
 * Extra help text after input on focus:
 * <li class="Form-item Form-item--stacked">
 *    <label class="Form-label">Label text</label>
 *    <input class="Form-input"/>
 *    <small class="Form-helper">Helper text</small>
 * </li>
 */

.Form-helper {
	display: inline-block;
	visibility: hidden;
}

.Form-input:active + .Form-helper,
.Form-input:focus + .Form-helper {
	visibility:visible;
}

/**
 * Set optional label like this:
 * <label class="Form-label">Label text <small class="Form-optional">(Optional)</small></label>
 */

.Form-optional {
	font-weight: normal;
}

/**
 * Error handling (inline)
 */

.Form-helperError {
	display: inline-block;
}

.Form .is-error {

	.Form-label,
	.Form-helperError {
		color: $color-base-red;
	}

	.Form-input {
		border: .125em solid $color-base-red;
	}
}

/**
 * Lists of checkboxes and radio buttons, e.g.:
 * <li class="Form-item Form-item--stacked">
 *    <fieldset>
 *       <span class="Form-label">Radio set</span>
 *       <ul class="InputSet InputSet--horizontal">
 *          <li>
 *             <label class="InputSet-label">
 *                <input type="radio" class="Radio" name="radioset" value="Option 1"/>
 *                <span>Option 1</span>
 *             </label>
 *          </li>
 *          <li>
 *             ...
 *          </li>
 *       </ul>
 *    </fieldset>
 * </li>
 */

.InputSet {
	margin: 0;
}

/* Horizontal */

.InputSet--horizontal > li {
	display: inline-block;
	margin-right: rhythm(1);

	&:last-child {
		margin-right: 0;
	}
}

/* Labels of checkboxes/radio buttons  */

// .InputSet-label {}
