/* ==========================================================================
   Full page (background image) cover
   ========================================================================== */

.Cover {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-index-full-page-cover;
	display: block;
	min-width: 100%;
	height: 100%;
	// iOS7 fix, for now
	// Change this later to a value that is the min height of the cover to
	// where the article begins.
	min-height: 529px;
	background-position: center center;
	background-size: cover;
}
