/* ==========================================================================
   Media object
   ========================================================================== */

/**
 * Usage:
 * Place any image- and text-like content side-by-side, as per: http://j.mp/1iqV00F
 *
 * Example HTML:
 * <div class="Media">
 *   <img src="http://placekitten.com/200/300" alt="" class="Media-Image">
 *   <p class=Media-Body>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
 *   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
 * </div>
 */

.Media {
	@include clearfix();

	display:block;
}

.Media-Image {
	float: left;
	margin-right: rhythm(1);
}

/* Reversed image location (right instead of left). */

.Media-Image--rev {
	float: right;
	margin-left: rhythm(1);
}

/* For when img element is wrapped in acnhor link */

.Media-Image img,
.Media-Image--rev img {
	display: block;
}

.Media-Body {
	overflow: hidden;
}

.Media-Body,
.Media-Body > :last-child {
	margin-bottom: 0;
}
