/* ==========================================================================
   Icons, not via fonts, but with images
   ========================================================================== */

.Icon {
	display: inline-block;
	margin-right: rhythm(.25);
	background-position: 0 16%;
	background-repeat: no-repeat;
	width: rhythm(1);
	height: rhythm(1);
	vertical-align: middle;
}

.Icon--right {
	margin-right: 0;
	margin-left: rhythm(.25);
	vertical-align: bottom;
}

.Icon--posright {
	position: absolute;
	right: 0;
}

.Icon--arrowBlueRight {
	@extend %grunt-arrow-blue-right;
	width: rhythm(.5);
}

.Icon--arrowWhiteLeft {
	@extend %grunt-arrow-white-left;
	width: rhythm(.5);
}

.Icon--arrowWhiteRight {
	@extend %grunt-arrow-white-right;
	width: rhythm(.5);
}
