/* ==========================================================================
   Bg (background) image
   ========================================================================== */

/**
 * Fluid, intrinsic ratio background images
 *
 * Example HTML:
 * <div class="BgImage BgImage--3by2 BgImage--16by9"
 *   style="background-image:url(cover.jpg)">
 * </div>
 *
 * See:
 * - http://nicolasgallagher.com/flexible-css-cover-images/
 * - http://codepen.io/necolas/pen/Aksni
 */

.BgImage {
	margin: 0 auto rhythm(1);
	// max-width: 62rem; // set to your liking
	min-height: 20rem; // set to your liking
	background-position: 50%;
	background-size: cover; // contain
	background-repeat: no-repeat;

	.no-js &.lazyload {
		display: none; // Noscript pattern
	}
}

/**
 * Modifier: Different aspect ratio for different breakpoints
 */

/* For small and below (default) */

.BgImage--3by2:before {
	padding-bottom: percentage(2/3) !important;
}

/* For large breakpoint and up */

@include breakpoint(large) {
	.BgImage--large16by9:before { padding-bottom: percentage(9/16) !important; }
}

/* For huge breakpoint and up */

@include breakpoint(huge) {
	.BgImage--huge2by1:before { padding-bottom: percentage(1/2) !important; }
}
