/* ==========================================================================
   Oldie message
   ========================================================================== */

.OldieMessage {
	display: block;
	padding: 95px 1em 1em;
	background: $color-gray-x-light;
	border: $color-base-gray;
	color: $color-base-black;

	a {
		text-decoration: underline;
		color: $color-base-black;
	}
}
