/* ==========================================================================
   Breakpoints debug
   ========================================================================== */

/**
 * A simple way to help identify which breakpoint is active!
 */

body:before {
	content: 'Initial';
	position: fixed;
	text-align: center;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,0.85);
	color: #FFF;
	font-weight: bold;
	z-index: 999;
	padding: 1em 2em;

	@if map-get($breakpoints, "small") != null {
		@media (min-width: map-get($breakpoints, "small")) {
			content: 'Breakpoint "small"'
		}
	}
	@if map-get($breakpoints, "compact") != null {
		@media (min-width: map-get($breakpoints, "compact")) {
			content: 'Breakpoint "compact"'
		}
	}
	@if map-get($breakpoints, "medium") != null {
		@media (min-width: map-get($breakpoints, "medium")) {
			content: 'Breakpoint "medium"'
		}
	}
	@if map-get($breakpoints, "large") != null {
		@media (min-width: map-get($breakpoints, "large")) {
			content: 'Breakpoint "large"'
		}
	}
	@if map-get($breakpoints, "wide") != null {
		@media (min-width: map-get($breakpoints, "wide")) {
			content: 'Breakpoint "wide"'
		}
	}
	@if map-get($breakpoints, "huge") != null {
		@media (min-width: map-get($breakpoints, "huge")) {
			content: 'Breakpoint "huge"'
		}
	}
}
