/* ==========================================================================
   Banner (aka page header)
   ========================================================================== */

.Banner {
	@extend .ContainPadding;
	@include u-cf();

	position: relative;
	z-index: $z-index-banner;
	padding-top: rhythm(1);
	padding-bottom: rhythm(1);
}
