/* ==========================================================================
   ContentInfo (aka site footer)
   ========================================================================== */

.ContentInfo {
	@extend .ContainPadding;

	margin-top: 0;

	.ctm & {
		margin-top: rhythm(1.5);
	}
	footer {
		padding: rhythm(1.5) rhythm(0);
	}
}
