// --------------------------------------------------------------------------
// Rhythm (font)
// --------------------------------------------------------------------------
// Typografic scale: http://type-scale.com, http://modularscale.com
// Vertical rhythm (baseline): https://github.com/ianrose/typesettings
// --------------------------------------------------------------------------

// Base rhythm font
// --------------------------------------------------------------------------
// Generates procentual base font sizes for the different breakpoints.
// Include in html or body element like this: @include base-font().

@mixin base-font($sizes) {

	// If there's only one breakpoint, SASS will think it's a space separated list
	@if length($sizes) == 2 and type-of(nth($sizes, 1)) != "list" {
		$sizes: append((), (nth($sizes, 1), nth($sizes, 2)));
	}

	// Loop through each `base-size`
	@each $breakpoint in $sizes {

		$length: length($breakpoint);
		$size: false !default;

		@for $i from 2 through $length {
			// If it's the first item, override $size
			@if $i == 2 {
				$size: nth($breakpoint, $i);
			}
			// Else, join $size
			@else {
				$size: join($size, nth($breakpoint, $i));
			}
		}

		// Loop through each `break` to be included (by default all breaks)
		@each $break in $breaks {

			@if nth($breakpoint, 1) == $break {

				@if nth($breakpoint, 1) == small {
					font-size: $size;
				}
				@else {
					@include breakpoint(nth($breakpoint, 1)) {
						font-size: $size;
					}
				}
			}
		}
	}
}

// Rhythm font size
// --------------------------------------------------------------------------

@mixin rhythm-font($size, $leader: 0, $trailer: 0, $lines: 1) {

	// Trailer margin
	@if $trailer and $trailer != 0 { margin-bottom: rhythm($trailer); }

	// Leading margin
	@if $leader and $leader != 0 { padding-top: rhythm($leader); }

	// Font sizes
	font-size: rhythm-font-size($size);

	// Line height
	line-height: rhythm-line-height($size, $lines);
}
