/* ==========================================================================
   Headings
   ========================================================================== */

/**
 * Shared heading settings
 *
 * 1. Enables font kerning in all browsers:
 *
 * - http://blog.typekit.com/2014/02/05/kerning-on-the-web/
 * - http://bocoup.com/weblog/text-rendering/
 *
 * The text-rendering options are: `auto` (default), `optimizeLegibility` and
 * `optimizeSpeed`. Be careful with the `optimizeLegibility` setting, because
 * it can be really slow and bog down an entire page. For now best to only
 * apply to bigger headings if using at all.
 */

%heading-settings {
	font-weight: normal;
	hanging-punctuation: first;
	letter-spacing: .01rem;
}

%heading-font {
	@include heading-font(700);

	.fonts-loaded & {
		font-family: $heading-web-font; // FiraSans Bold
	}
}

/**
 * Heading sizes
 */

// .tera-heading {}
// .giga-heading {}
// .mega-heading {}

/* Alpha */

.alpha-heading {
	@extend %heading-settings;
	@extend %heading-font; // FiraSans Bold
	@extend %text-kern;
	@extend %text-break;
	@extend %text-hyphen;
	@include responsive-text-size($text-alpha);
}

/* Beta */

.beta-heading {
	@extend %heading-settings;
	@extend %heading-font; // FiraSans Bold
	@extend %text-kern;
	@extend %text-break;
	@extend %text-hyphen;
	@include responsive-text-size($text-beta);
}

/* Gamma */

.gamma-heading {
	@extend %heading-settings;
	@extend %heading-font; // FiraSans Bold
	@extend %text-break;
	@extend %text-hyphen;
	@include responsive-text-size($text-gamma);
}

/* Delta */

.delta-heading {
	@extend %heading-settings;
	@extend %heading-font; // FiraSans Bold
	@include responsive-text-size($text-delta);
}

/* Epsilon + Zeta */

.epsilon-heading,
.zeta-heading {
	@extend %heading-settings;
	@extend %heading-font; // FiraSans Bold
	@extend %text-break;
	@extend %text-hyphen;
	@include responsive-text-size($text-epsilon);
}
