/* ==========================================================================
   Copy
   ========================================================================== */

/**
 * Scoped styles of blocks of (body) content
 */

.copy {

	/* Contain
	   ========================================================================== */

	&--contain {

		> *:not(.full-width),
		> .full-width figcaption {
			@extend %contain-padding;
		}

		> *:not(.full-width),
		> .figure-image figcaption {
			margin-right: auto;
			margin-left: auto;
		}

		> h1, > h2, > h3, > h4, > h5, > h6,
		> p,
		> ul,
		> ol,
		> dl,
		> time,
		> table,
		> form,
		> .figure-image.full-width figcaption,
		> .figure-image.text-width {
			max-width: $text-max-width + (2 * rhythm($contain-rhythm-unit)); // Text max width
		}

		> .blockquote,
		// > .figure-image.full-width figcaption,
		> .figure-image:not([class*="-width"]),
		> .figure-grid:not([class*="-width"]) {
			max-width: $figure-max-width + (2 * rhythm($contain-rhythm-unit)); // Contain width
		}

		> .figure-image figcaption {
			max-width: $text-max-width; // Maximize width
		}

		> hr {
			max-width: $text-max-width - (2 * rhythm($contain-rhythm-unit)); // Padding has no effect on <hr>!!!
		}
	}

	/* Vertical spacing
	   ========================================================================== */

	/**
	 * Set default vertical spacing for all elements that have not a `figure-*`
	 * class and are not preceded by an element with a `figure-*` class.
	 *
	 * Based on 'The "Leftover Glue" problem' solution:
	 * http://slides.com/heydon/effortless-style/#/22
	 */

	> *:not(.figure-image) + *:not(.figure-image) {
		margin-top: rhythm(1);
	}

	/**
	 * Reset (decrease) some margins for better typography (proximity)
	 * See: http://zellwk.com/blog/wrong-about-vertical-rhythm/
	 */

	> *:not(.figure-image) + p,
	> *:not(.figure-image) + ul,
	> *:not(.figure-image) + ol,
	> *:not(.figure-image) + dl {
		margin-top: rhythm(.5) !important;
	}

	> h2 + *:not(.figure-image),
	> h3 + *:not(.figure-image) {
		margin-top: rhythm(.5) !important;
	}

	> h4 + p,
	> h5 + p,
	> h6 + p {
		margin-top: 0 !important;
	}

	/**
	 * Set (additonal) vertical spacing 'above' `figure-*` blocks:
	 */

	> *:not(.figure-image) + .figure-image {
			margin-top: rhythm(3);
	}

	/**
	 * Set (additonal) vertical spacing 'below' `figure-*` blocks:
	 */

	> .figure-image + *:not(.figure-image) {
			margin-top: rhythm(3);
	}

	/**
	 * Set (rhythm based) vertical spacing 'inbewteen' `figure-*` blocks.
	 */

	> .figure-image + .figure-image > span,
	> .figure-image + .figure-image .grid__cell,
	> *:not(.figure-image) + .figure-image .grid__cell {
		margin-top: rhythm($grid-spacing-rhythm-unit);
	}

	> .figure-image .figure-image + .figure-image {
		margin-top: rhythm($grid-gutter-rhythm-unit);
	}

	/**
	 * Undo top margin by negetively offsetting the whole grid row
	 */

	// > *:not(.figure-image) + .figure-grid .grid {
	> *:not(.figure-image) + .figure-image .grid {
		margin-top: rhythm(-$grid-spacing-rhythm-unit);
	}

	/**
	 * Grid gutter (horizontal spacing)
	 */

	> .figure-image .grid {
		@extend %grid--gutter;
	}

	/* Hyphenation
	========================================================================== */

	> p,
	> ul li,
	> ol li,
	> dl dt,
	> dl dd,
	> time,
	> table,
	figcaption p {
		hyphens: none; // Set none as default, because most languages display this poorly
		// hyphens: auto;
	}

	/**
	 * Overrule hyphenation
	 *
	 * For Kirby tag 'nohyphen';
	 * Usage: (nohyphen: <your text not to be hyphenated>)
	 */

	.text-no-hyphen {
		hyphens: none;
	}

	/**
	 * Overrule no hyphen to auto hyphen
	 */

	.text-auto-hyphen {
		hyphens: auto;
	}


	/* Paragraphs
	   ========================================================================== */

	// p:first-of-type { }

	// p:first-child { }

	// p + p {
	// 	margin-top: rhythm(-1);
	// 	text-indent: rhythm(1);
	// }

	// p:first-child:first-letter { }

	/* Headings
	   ========================================================================== */

	/* Scoped headings (see extend-selectors.scss for corresponding 'unscoped' classes) */

	// h1.tera-heading { @extend .tera-heading; }
	// h1.giga-heading { @extend .giga-heading; }
	// h1.mega-heading { @extend .mega-heading; }

	h1 { @extend .alpha-heading; }
	h2 { @extend .beta-heading; }
	h3 { @extend .gamma-heading; }
	h4 { @extend .delta-heading; }
	h5 { @extend .epsilon-heading; }
	h6 { @extend .zeta-heading; }

	/* Figures
	   ========================================================================== */

	// figure {}

	/* Pull, block- and run-in quotes
	   ========================================================================== */

	// .quote {}

	// .blockquote {}

	// .pullquote {}

	/* Inline Elements
	   ========================================================================== */

	i,
	em,
	cite {
		@extend %text-italic;
	}

	b,
	strong {
		@extend %text-bold;
	}

	small {
		@extend %text-small;
	}

	time {
		@extend %text-time;
	}

	/* Addresses styling not present in IE7/8/9 */

	mark {
		background-color: rgb(248,248,0);
		color: $color-base-black;
	}

	ins {
		@include underline($color-gray-m-light, rgb(253,254,206));

		background-color: rgb(253,254,206);
		color: $color-base-black;
	}

	del {
		background-color: rgb(248,0,0);
		color: $color-base-black;
	}

	/* Addresses styling not present in IE7/8/9, S5, Chrome */

	abbr {
		text-transform: lowercase;
		letter-spacing: .05em;
		font-variant: small-caps; // https://developer.mozilla.org/en-US/docs/CSS/font-variant
	}

	code,
	kbd,
	pre,
	samp {
		@include mono-font();
	}

	code {
		background-color: $color-gray-x-light;
	}

	/* Lists
	   ========================================================================== */

	/* Unordered lists */

	ul,
	ol {
		@extend .list;
	}

	/* Definition lists */

	// dl { }

	dt {
		font-weight: 700;
	}

	dd {
		margin-left: rhythm(1);
	}

	/* Links
	   ========================================================================== */

	a:not(.button) {
		@extend .link;
	}

	/* External page links */

	// [href^="http:"]:not([href*="mydomain.com"]) { }

	/* Secure link */

	// [href^="https"]:before { content: "\1F512 "; }

	/* PDF link */

	// [href$="pdf"] { }

	/* Email link */

	// [href^="mailto:"] { }

	/* Twitter link */

	// [href*="twitter.com"] {}

	/* Tables
	   ========================================================================== */

	table {
		@extend .table;
		@extend .table--striped;
	}
}
