/* ==========================================================================
   Reset
   ========================================================================== */

/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
	margin: 0;
	padding: 0;
}

/**
 * Resets all headings to look like normal text
 * Styled within 'copy' scope
 */

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

/**
 * Reset links
 */

a {
	font-weight: inherit;
	color: inherit;
	text-decoration: none;
}

/**
 * Reset list items back to normal (block) display. This makes it possible to
 * use lists for semantic markup without needing to set this each time. Lists
 * only look like ‘lists’ in blocks of copy.
 */

li {
	display: block;
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

/**
 * Reset inline elements
 */

small,
b,
strong,
th,
i,
em,
cite {
	font-weight: inherit;
}

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */

abbr[title],
dfn[title] {
	cursor: help;
}

/**
 * Remove underlines from potentially troublesome elements.
 */

u,
ins {
	text-decoration: none;
}

/**
 * Figure (Overrules normalize.scss bullshit! (.../scss/vendor/))
 */

figure {
	margin: 0;
}
