/* ==========================================================================
   Base page
   ========================================================================== */

/**
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from a `$text-sizes` map. The `font-size` is calculated to exist
 *    in %, the `line-height` is calculated to exist unitlessly.
 * 2. The default `font-size` is based on viewport units, when
 *    `fluid-base-text()` is used instead of the `responsive-base-text()` mixin.
 * 3. `Font-size` is set to `small` size (without mq) for browsers that don't
 *    cut the mustard (aka `no-ctm`).
 * 4. Force scrollbars to always be visible to prevent awkward 'jumps' when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 5. Prevent horizontal scrollbar when using layout grids!
 * 6. Ensure the page always fills at least the entire height of the viewport.
 */

html {
	@include sans-font(400);
	// @include responsive-base-text(); // [1], [3]
	@include fluid-base-text(); // [2], [3]
	overflow-y: auto; // [4]
	overflow-x: hidden; // [5]
	min-height: 100%; // [6]
	color: $color-base-black;
	background-color: $background-color;
}

html.fonts-loaded {
	font-family: $sans-web-font;
}

