/* ==========================================================================
   Horizontal ruler component
   ========================================================================== */

/**
 * Extends 'hr'.
 * Demo: jsfiddle.net/inuitcss/L6GuZ
 */

%ruler {
	margin-top: rhythm(1);
	margin-bottom: -.125em;
	margin-left: 0;
	border: 0;
	border-top: .125em solid $color-base-black;
}

/* Dotted rules */

%ruler--dotted {
	border-top-style: dotted;
}

/* Dashed rules */

%ruler--dashed {
	border-top-style: dashed;
}

/* Ornamental rules. Places a ยง over the rule. */

%ruler--ornament {
	position: relative;
	overflow: visible; /* Makes sure :after content is shown */

	&:after {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		content: "ยง";
		text-align: center;
		line-height: 0;
	}

	/**
	 * Pass in an arbitrary ornament though a data attribute, e.g.:
	 * <hr class="rule  rule--ornament" data-ornament="!">
	 */

	&[data-ornament]:after {
		content: attr(data-ornament);
	}
}

/* Activate horizontal ruler via @extend */

hr {
	@extend %ruler;

	// max-width: $text-max-width;
}
