/* ==========================================================================
   WF loading
   ========================================================================== */

/**
 * Font events for web fonts loaded with Typekit and/or Google's
 * WebFont Loader to control the Flash of Unstyled Text (FOUT)
 */

// @include breakpoint(compact) {
	.wf-loading {
		opacity: 0;
	}

	.wf-active {
		transition: opacity .16s ease-in-out;
		opacity: 1;
	}

	.wf-inactive {
		opacity: 1;
	}
// }
