/* ==========================================================================
   Contain
   ========================================================================== */

/**
 * Contain padding
 */

.contain-padding,
%contain-padding {
	padding-right: $contain-percentage !important;
	padding-left: $contain-percentage !important;

	@include breakpoint(medium) {
		padding-right: rhythm($contain-rhythm-unit) !important;
		padding-left: rhythm($contain-rhythm-unit) !important;
	}
}

/**
 * Contain width
 */

.contain-width,
%contain-width {
	@extend %contain-padding;

	// max-width: $figure-max-width + (2 * rhythm($contain-rhythm-unit)) !important;  // Figure max width
	max-width: $text-max-width + (2 * rhythm($contain-rhythm-unit)) !important; // Text max width
	margin-right: auto !important;
	margin-left: auto !important;
}
