/* ==========================================================================
   Clearfix
   ========================================================================== */

/**
 * Clearfix
 * Native "clearfix", with micro clearfix fallback
 *
 * See:
 * - https://helloanselm.com/2017/flow-root-supports/
 * - http://cssmojo.com/the-very-latest-clearfix-reloaded/
 *
 * Extend the clearfix placeholder class `%clearfix` to avoid
 * the `.clearfix` class appearing over and over in your markup.
 */

// .clearfix,
%clearfix {

	&:after {
		content: "";
		display: block;
		clear: both;
	}

	@supports (display: flow-root) {
		display: flow-root;

		&:after {
			content: none;
		}
	}
}
