/* ==========================================================================
   Spacing (https://github.com/suitcss/utils-dimension)
   ========================================================================== */

/**
 * Vertical (rhythm) spacing
 *
 * Trailer spacing = bottom margin
 * Leader spacing = top margin
 * Rhythm spacing = top + bottom margins
 */

%space-trailer-xs { margin-bottom: rhythm(.25) !important; }
%space-trailer-s  { margin-bottom: rhythm(.5) !important; }
.space-trailer-m,
%space-trailer-m  { margin-bottom: rhythm(1) !important; }
.space-trailer-l,
%space-trailer-l  { margin-bottom: rhythm(2) !important; }
%space-trailer-xl { margin-bottom: rhythm(4) !important; }

%space-leader-xs  { margin-top: rhythm(.25) !important; }
%space-leader-s   { margin-top: rhythm(.5) !important; }
.space-leader-m,
%space-leader-m   { margin-top: rhythm(1) !important; }
.space-leader-l,
%space-leader-l   { margin-top: rhythm(2) !important; }
%space-leader-xl  { margin-top: rhythm(4) !important; }

%space-thythms    { margin-top: rhythm(.5); margin-bottom: rhythm(.5) !important; }
%space-thythmm    { margin-top: rhythm(1); margin-bottom: rhythm(1) !important; }
%space-thythml    { margin-top: rhythm(2); margin-bottom: rhythm(2) !important; }
%space-thythmxl   { margin-top: rhythm(4); margin-bottom: rhythm(4) !important; }
