@charset "utf-8";

/*
	texgyreadventor.css
	-------------------------------------------------------------------
	Font Information:
	The TeX Gyre Adventor family of sansserif fonts is based on the URW
	Gothic L family distributed with Ghostscript. The original font,
	ITC Avant Garde Gothic was designed by Herb Lubalin and Tom Carnase in 1970.
	The constituent 4 standard faces contain nearly 1250 glyphs each.
	-------------------------------------------------------------------
	License:
	http://www.fontsquirrel.com/license/TeX-Gyre-Adventor
	-------------------------------------------------------------------
	Download:
	http://www.fontsquirrel.com/fonts/TeX-Gyre-Adventor
	-------------------------------------------------------------------
	Convert woff to woff2:
	https://everythingfonts.com/woff-to-woff2
	-------------------------------------------------------------------
	Syntax:
	https://css-tricks.com/snippets/css/using-font-face/
	-------------------------------------------------------------------
	Support:
	- Chrome 3.5+
	- Safari 3+
	- Firefox 3.5+
	- Opera 10.1+
	- IE 9+
	- Android 2.2+
	- iOS 4.3+
*/


/* Regular */

@font-face {
	font-family: 'TeXGyreAdventor-Regular';
	src: url('texgyreadventor-regular.woff2') format('woff2'),
		 url('texgyreadventor-regular.woff') format('woff'),
		 url('texgyreadventor-regular.ttf') format('truetype');
}


/* Bold */

@font-face {
	font-family: 'TeXGyreAdventor-Bold';
	src: url('texgyreadventor-bold.woff2') format('woff2'),
		 url('texgyreadventor-bold.woff') format('woff'),
		 url('texgyreadventor-bold.ttf') format('truetype');
}
