// --------------------------------------------------------------------------
// Z-indices
// --------------------------------------------------------------------------

$z-index-hidden:                -10;
$z-index-full-page-cover:       -1;
$z-index-banner:                1;
$z-index-nav-toggle:            2;
$z-index-more-button:           10;
$z-index-nav-main:              1010;
$z-index-alert:                 1020;
$z-index-backdrop:              1100;
$z-index-alert-modal:           1200;
