// --------------------------------------------------------------------------
// Z-indices
// --------------------------------------------------------------------------

$z-index-hidden:                -10;
$z-index-full-page-cover:       -1;
$z-index-banner:                1;
$z-index-nav-toggle:            2;
$z-index-nav-main:              10;
$z-index-alert:                 20;
$z-index-backdrop:              900;
$z-index-alert-modal:           910;
