// --------------------------------------------------------------------------
// Ratios
// --------------------------------------------------------------------------

$double-octave:                 4;
$major-twelfth:                 3;
$major-eleventh:                2.666666667;                                    //  8 / 3
$major-tenth:                   2.5;                                            //  5 / 2
$octave:                        2;
$major-seventh:                 1.875;                                          // 15 / 8
$minor-seventh:                 1.777777778;                                    // 16 / 9
$major-sixth:                   1.666666667;                                    //  5 / 3
$golden:                        1.618033989;
$minor-sixth:                   1.6;                                            //  8 / 5
$perfect-fifth:                 1.5;                                            //  3 / 2
$augmented-fourth:              1.4142135624;                                   //  1 / (square root 2)
$perfect-fourth:                1.333333333;                                    //  4 / 3
$major-third:                   1.25;                                           //  5 / 4
$minor-third:                   1.2;                                            //  6 / 5
$major-second:                  1.125;                                          //  9 / 8
$minor-second:                  1.066666667;                                    // 16 / 15
