// --------------------------------------------------------------------------
// Page
// --------------------------------------------------------------------------

// Page (content) background color
// --------------------------------------------------------------------------

$background-color:              $color-base-white;

// Contain
// --------------------------------------------------------------------------

$contain-percentage:           6%;                                              // Left and right percentage sized paddings/margins
$contain-rhythm-unit:          2;                                               // Left and right rhytm (unit) sized paddings/margins (e.g. for smaller window sizes)


// Text max-width
// --------------------------------------------------------------------------
// One character is approximately 0.5em.
// A text measure between 45 - 75 characters means the max width of
// your text element must be between 22.5em and 37.5em.

$text-max-width:               37rem;

// Image max-width
// --------------------------------------------------------------------------

$figure-max-width:             58rem;
