// --------------------------------------------------------------------------
// Breakpoints
// --------------------------------------------------------------------------
// Breakpoints (target width in em's = pixel width / base font size)
// Apply proportional media queries (em's): http://bit.ly/JT9ZzI
// Design from the content out, rather than the canvas in: http://bit.ly/JTa5aA
// Adjust the breakpoints to best fit content and (visual) design

$breakpoints: (
	small:   30em,
	compact: 48em,
	medium:  64em,
	large:   80em,
	wide:    120em,
	huge:    120em
);
