/* ==========================================================================
   Banner (aka page header)
   ========================================================================== */

.banner {
	@extend %clearfix;
	@extend %contain-padding;

	position: relative;
	z-index: $z-index-banner;
	padding-top: rhythm(1);
	padding-bottom: rhythm(1);
}
