/* ==========================================================================
   Masthead (aka logo)
   ========================================================================== */

.masthead {
	@extend %grunt-logo;

	display: block;
	float: left;
	width: 144px;
	height: 48px;
}
