/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination {
	margin-top: rhythm(1);
}

// .pagination-count {}

.pagination__list {
	display: flex;
	// justify-content: space-between; // Use margin-left/right to align items instead!
	// flex-wrap: wrap;
	// align-items: center;
}

.pagination__item {
	color: $color-base-gray;

	a {
		color: $color-base-black;
		padding: rhythm(.25) 0;
	}

	&--newer {
		padding-right: rhythm(.25);
	}

	// &--older {
	// 	// margin-left: auto; // Always align next pagination item to the right (on very small screens)!
	// 	padding-left: rhythm(.25);
	// }
}
