/* ==========================================================================
   Contentinfo (aka site footer)
   ========================================================================== */

.contentinfo {
	margin-top: 0;

	.ctm & {
		margin-top: rhythm(1);
	}
	footer {
		padding: rhythm(1) rhythm(0);
	}
}
