/* ==========================================================================
   Lazyload
   ========================================================================== */

/**
 * Lazyload figure image
 */

.figure-image__lazy {
	position: relative;
	display: block;
	background-color: $color-gray-quiet;

	.ctm & {
		overflow: hidden;
		// height: 0; // Height is set by inline percentage-padding in figure plugin/tag to prevent reflow on image load

		&.lazyload:after,
		&.lazyloading:after {
			position: absolute;
			right: rhythm(.5);
			bottom: rhythm(.5);
			width: rhythm(.24);
			height: rhythm(.24);
			margin: rhythm(-.12) 0 0 rhythm(-.12);
			content: "";
			animation: flash 1.76s cubic-bezier(.6,1,1,1) infinite; // Loading animation
			border-radius: 100%;
			background: rgba($color-base-black,.24);
		}
		.figure-image__item {
			position: absolute; // Aboslute positioned within percentage-padding set height element
			top: 0;
			left: 0;

			&.lazyload,
			&.lazyloading {
				opacity: 0; // Hide lazyloaded image (with lazysizes) as soon as possibe. Fixes flicker of cached images!
			}
			&.lazyloaded {
				animation: fade-in .56s ease-in both; // Fade-in animation of (lazy)loaded images
			}
		}
	}
}

/**
 * Lazyload bg image
 */

.bg-image {

	.ctm & {

		&.lazyload,
		&.lazyloading {
			opacity: 0; // Hide lazyloaded background image (with lazysizes) as soon as possibe. Fixes flicker of cached images!
		}
		&.lazyloaded {
			animation: fade-in .56s ease-in both; // Fade-in animation
		}
	}
}
