/* ==========================================================================
   Lists
   ========================================================================== */

/**
 * Basic list
 */

.list {
	list-style-position: outside;

	li {
		display: list-item;
		// margin-left: rhythm(1);

		& > ul,
		& > ol,
		& + li {
			margin-top: rhythm(.25);
		}

		// & > ul,
		// & > ol {

		// 	> li {
		// 		margin-left: rhythm(.65);
		// 	}
		// }

		// @include breakpoint(medium) {
		// 	margin-left: 0 !important; // reset left margin from medium and up
		// }
	}

	> li {
		// list-style-type: square; // e.g. disc, circle, square
		list-style-type: none;
	}
}

ul.list {

	> li {
		margin-left: rhythm(.65);
		// margin-left: rhythm(1.25);

		&:before {
			content: "– ";
			position: absolute;
			margin-left: rhythm(-.65);
		}

		> p:last-of-type {
			margin-bottom: rhythm(.75);
		}
	}
}

ol.list {

	> li {
		list-style-type: decimal; // e.g. decimal, decimal-leading-zero, lower-roman, upper-roman, lower-greek, lower-latin, upper-latin, lower-alpha, upper-alpha, hebrew, etc.
		margin-left: rhythm(1.25);
	}
}

/**
 * Plain list (no bullets, etc.)
 */

.list--plain {
	margin-left: 0;

	li {
		list-style: none;
		margin-left: 0;

		&:before {
			content: none;
		}
	}
}

/**
 * Link list
 */

.list--links {
	margin-top: -.2em; // (negative) top margin must be same as top padding on anchor!
	margin-left: 0;

	li {
		margin-right: 0;
		padding: .2em 0; // top padding must be same as top margin on complete list!
		padding-right: 0;
		padding-left: 0;
		list-style: none;
	}
	a {
		@extend .link;
	}
}

/**
 * No visited link color (browser history)
 */

.list--no-history {

	a {
		@extend .link--no-history;
	}
}

/**
 * Have a numbered `ul` without the semantics implied by using an `ol`
 */

.list--numbered {

	&,
	&.list--links {

		> li {
			list-style-type: decimal;
		}
	}
	&.list--plain,
	&.list--links {
		margin-left: rhythm(1); // roughly equal to offset the outdent of a two-figure number (1 of 2)

		@include breakpoint(medium) {
			margin-left: 0; // reset left margin from medium and up
		}
	}
}
