/* ==========================================================================
   Links
   ========================================================================== */

.link {

	// Sometimes, particularly on larger projects, it is useful to scope
	// link styling only to anchors which have 'href' attributes,
	// therefore the use of :link
	&:link {
		// @include underline($color-blue-m-light);

		position: relative;
		transition: color .24s ease-out;
		text-decoration: underline;
		text-decoration-skip: ink; // See: https://css-tricks.com/more-control-over-text-decoration/
		color: $color-base-blue;
	}

	&:visited {
		color: $color-blue-light;
	}
	&:hover,
	&:focus {
		color: $color-blue-dark;
	}
	&:active {
		color: $color-blue-light;
		// transition: none; // Check out article about UI feedback: http://bfred.it/notes/?p=46
	}
}

/* No visited link color (browser history) */

.link--no-history {
	&:visited {
		color: $color-base-blue;
	}
	&:hover,
	&:focus,
	&:active {
		color: inherit;
	}
}
