/* ==========================================================================
   Sizes (https://github.com/suitcss/utils-dimension)
   ========================================================================== */

/**
 * Make an element shrink wrap its content.
 */

%u-sizeFit,
%u-sizeFitAlt {
	display: block;
	float: left;
	width: auto;
}

%u-sizeFitAlt {
	float: right;
}

/**
 * Make an element fill the remaining space.
 * N.B. This will hide overflow.
 */

%u-sizeFill {
	display: block;
	overflow: hidden;
	width: auto;
}

/**
 * An alternative method to make an element fill the remaining space.
 * N.B. Do not use if child elements might be wider than the remaining space.
 * In Chrome, Safari, and Firefox it results in undesired layout.
 */

%u-sizeFillAlt {
	display: table-cell;
	max-width: 100%;
	width: 10000px;
}

/**
 * Make an element the width of its parent.
 */

%u-sizeFull {
	display: block;
	width: 100%;
}
