/* ==========================================================================
   States (https://github.com/suitcss/utils-state)
   ========================================================================== */

/**
 * Indicate that interaction will result in an (in)action.
 */

%u-isActionable {
	cursor: pointer !important;
}

%u-isDisabled {
	cursor: default !important;
}

%u-isDraggable {
	cursor: move !important;
}

/**
 * Completely remove from the flow and screen readers.
 */

%u-isHidden {
	display: none !important;
	visibility: hidden !important;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */

.is-hiddenVisually,
%u-isHiddenVisually {
	position: absolute !important;
	overflow: hidden !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
}

/**
 * Control visibility without affecting flow.
 *
 * And use for nice trick: http://j.mp/1qhPKiU
 */

%u-isInvisible {
	visibility: hidden !important;
}

%u-isVisible {
	visibility: visible !important;
}

/**
 * Hide text (use for image replacement).
 */

@mixin u-isHiddenText($param: false) {
	// Scott Kellum method (http://wp.me/p4WtR-2xq)
	@if $param == skm {
		text-indent: 200%;
		overflow: hidden;
		white-space: nowrap;
	}
	// H5BP method (http://j.mp/SjVjgP)
	@else {
		background-color: transparent;
		border: 0;
		overflow: hidden;

		&:before {
			content: "";
			display: block;
			width: 0;
			height: 100%;
		}
	}
}

%u-isHiddenText { @include u-isHiddenText(); }
