/* ==========================================================================
   Centered (http://j.mp/1uePeET)
   ========================================================================== */

/**
 * This parent can be any width and height
 */

%u-centered {
	// text-align: center; // Horizontal centering

	&:before {
		content: '';
		display: inline-block;
		height: 99.9%; // Not 100%! Fixes vertical scrollbar!
		vertical-align: middle;
		margin-right: -.3em; // Adjusts for spacing
	}
}

/**
 * The element to be centered, can also be of any width and height
 */

%u-centered-item {
	display: inline-block;
	vertical-align: middle;
}
