/* ==========================================================================
   Spacing (https://github.com/suitcss/utils-dimension)
   ========================================================================== */

/**
 * Vertical (rhythm) spacing
 *
 * Trailer spacing = bottom margin
 * Leader spacing = top margin
 * Rhythm spacing = top + bottom margins
 */

%u-spaceTrailerXS { margin-bottom: rhythm(.25); }
%u-spaceTrailerS  { margin-bottom: rhythm(.5); }
.u-spaceTrailerM,
%u-spaceTrailerM  { margin-bottom: rhythm(1); }
.u-spaceTrailerL,
%u-spaceTrailerL  { margin-bottom: rhythm(2); }
%u-spaceTrailerXL { margin-bottom: rhythm(4); }

%u-spaceLeaderXS  { margin-top: rhythm(.25); }
%u-spaceLeaderS   { margin-top: rhythm(.5); }
.u-spaceLeaderM,
%u-spaceLeaderM   { margin-top: rhythm(1); }
%u-spaceLeaderL   { margin-top: rhythm(2); }
%u-spaceLeaderXL  { margin-top: rhythm(4); }

%u-spaceRhythmS   { margin-top: rhythm(.5); margin-bottom: rhythm(.5); }
%u-spaceRhythmM   { margin-top: rhythm(1); margin-bottom: rhythm(1); }
%u-spaceRhythmL   { margin-top: rhythm(2); margin-bottom: rhythm(2); }
%u-spaceRhythmXL  { margin-top: rhythm(4); margin-bottom: rhythm(4); }
