/* ==========================================================================
   Layout (https://raw.github.com/suitcss/utils-layout)
   ========================================================================== */

/**
 * Vertical alignment utilities
 * Depends on an appropriate `display` value.
 */

%u-alignTop {
	vertical-align: top !important;
}

%u-alignMiddle {
	vertical-align: middle !important;
}

%u-alignBaseline {
	vertical-align: baseline !important;
}

%u-alignBottom {
	vertical-align: bottom !important;
}

/**
 * Center item within any width and height parent
 *
 * Based on: http://j.mp/1uePeET
 *
 * Notes:
 * - Use mixin when invoking within media query otherwise it's save to just
 *   extend the silent class!
 * - Use mixin when a different value for the spacing adjustment is needed
 *
 * Example usage 1:
 * .Centered {
 *    @extend  %u-centered;
 *
 *    …
 * }
 * .Centered-item {
 *    @extend %u-centered-item;
 * }
 *
 * Example usage 2 (media query):
 * .Centered {
 *    @include breakpoint(medium) {
 *       @include u-centered(.8);
 *    }
 *
 *    …
 * }
 * .Centered-item {
 *    @extend %u-centered-item;
 * }
 */

@mixin u-centered($spacing: .3) {
	// text-align: center; // Horizontal centering too!

	&:before {
		content: '';
		display: inline-block;
		height: 99.9%; // Do not use 100% to prevent vertical scrollbar!
		vertical-align: middle;
		margin-right: $spacing * -1em; // Adjusts for spacing
	}
}

%u-centered {
	@include u-centered();
}

/**
 * The element to be centered, can also be of any width and height
 */

%u-centered-item {
	display: inline-block;
	vertical-align: middle;
}

/**
 * Contain floats (aka clearfix)
 *
 * Make an element expand to contain floated children.
 * - http://nicolasgallagher.com/micro-clearfix-hack/
 * - http://fuseinteractive.ca/blog/understanding-humble-clearfix
 * - http://css-tricks.com/snippets/css/clear-fix/
 *
 * 1. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 *     Set `$contain-top-margins` to "margins" below, to  globally output the clearix
 *     version that contains top-margins as well. Or include the clearfix mixin
 *     with with the "margins" variable (e.g. `@inlcude u-cf("margins")`)
 *     to contain top-margins only for that element/class.
 * 2. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of the
 *    element.
 */

@mixin u-cf($contain-top-margins: "") { // [1]
	@if $contain-top-margins == "margins" {
		&:before,
		&:after {
			display: table; // [1]
			content: ""; // [2]
		}
		&:after {
			clear: both;
		}
	}
	@else {
			&:after {
			display: block; // [1]
			clear: both;
			content: ""; // [2]
		}
	}
}

%u-cf {
	@include u-cf();
}

/**
 * Cross browser inline block (see: https://blog.mozilla.org/webdev/?p=241)
 *
 * Usage:
 *    @include inline-block;
 *
 * Or to give a min-height to the inline-block elements
 *    @include inline-block("250px")
*/

@mixin u-ib($min-height: "") {
	display: inline-block;

	@if $min-height != "" {
		min-height: $min-height;
	}
}

%u-ib {
	@include u-ib();
}

/**
 * New block formatting context
 *
 * This affords some useful properties to the element. It won't wrap under
 * floats. Will also contain any floated children.

 * N.B. This will clip overflow. Use the alternative method below if this is
 * problematic.
 */

%u-nbfc {
	overflow: hidden !important;
}

/**
 * New block formatting context (alternative)
 *
 * Alternative method when overflow must not be clipped.
 *
 * 1. Create a new block formatting context (NBFC).
 * 2. Avoid shrink-wrap behaviour of table-cell.
 *
 * N.B. This breaks down in some browsers when elements within this element
 * exceed its width.
 */

%u-nbfcAlt {
	display: table-cell !important; // [1]
	width: 10000px !important; // [2]
}

/**
 * Floats
 */

%u-pullLeft {
	float: left !important;
}

%u-pullRight {
	float: right !important;
}

/**
 * Object position helpers.
 *
 * Float an object left or right, and include some space between the object and
 * proceeding objects.
 */

%u-objLeft {
	float: left !important;
	margin-right: rhythm(1);
}

%u-objRight {
	float: right !important;
	margin-left: rhythm(1);
}

/**
 * 1. Remove excess space below images
 * 2. Guard against `img {max-width:100%}` hiding this utility's images in
 *    IE 8.
 */

%u-objLeft img,
%u-objRight img {
	display: block; // [1]
	max-width: none; // [2]
}
