/* ==========================================================================
   Text (https://github.com/suitcss/utils-text)
   ========================================================================== */

/**
 * Horizontal text alignment
 */

%u-textCenter {
	text-align: center;
}

%u-textLeft {
	text-align: left;
}

%u-textRight {
	text-align: right;
}

/**
 * Kerning
 *
 * Enables font kerning in all browsers:
 * http://blog.typekit.com/2014/02/05/kerning-on-the-web/
 *
 * Text rendering: http://bocoup.com/weblog/text-rendering/
 *
 * The text-rendering options are: `auto` (default), `optimizeLegibility` and
 * `optimizeSpeed`. Be careful with the `optimizeLegibility` setting, because
 * it can be really slow and bog down an entire page. For now best to only
 * apply to bigger headings if using at all.
 *
 * Support:
 * 1. Chrome (not Windows), Firefox, Safari 6+, iOS, Android
 * 2. Chrome (not Windows), Firefox, IE 10+
 * 3. Safari 7 and future browsers
 */

%u-textKern {
	text-rendering: optimizeLegibility; // [1]
	font-feature-settings: "kern" 1; // [2]
	font-kerning: normal; // [3]
}

/**
 * Justify, hyphenate and word breaking
 *
 * Use justify text always in combination with text hyphenate and
 * word breaking (%u-textBreak).
 *
 * Word breaking break strings when their length exceeds the width of
 * their container.
 *
 * For more about hyphenate and word breaking see: http://bit.ly/JixVfL
 */

%u-textHyphen {
	hyphens: auto;
}

%u-textNoHyphen {
	hyphens: none;
}

%u-textJustify {
	text-align: inherit;

	@include breakpoint(medium) {
		& {
			text-align: justify;
		}
	}
}

%u-textBreak {
	word-wrap: break-word;
}

/**
 * Text contain
 *
 * Prevent text (line lenght) from getting longer than
 * the ideal reading lengt of 65-75 characters
 */

.u-textMaxWidth,
%u-textMaxWidth {
	max-width: $text-max-width;
	// margin-right: auto; // Center maximized text 'column'
	// margin-left: auto;
}

/**
 * Text truncation
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
 *    nodes.
 */

%u-textTruncate {
	max-width: 100%; // [1]
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal; // [2]
}

/**
 * Inherit the ancestor's text color.
 */

%u-textInheritColor {
	color: inherit;
}

/**
 * Inherit the ancestor's text color for all states.
 */

%u-textInheritAllColor,
%u-textInheritAllColor:hover,
%u-textInheritAllColor:focus,
%u-textInheritAllColor:active {
	color: inherit;
}

/**
 * Inline elements
 */

 %u-textBold {
	font-weight: 700;
 }

 %u-textItalic {
	font-style: italic;
 }

%u-textSmall {
	@include responsive-text-size("nano");
}

%u-textTime {
	text-transform: uppercase;
}
