/* ==========================================================================
   Position (https://github.com/suitcss/utils-position)
   ========================================================================== */

%u-posAbsolute {
	position: absolute;
}

/**
 * Pins to all corners by default. But when a width and/or height are
 * provided, the element will be centered in its nearest relatively-positioned
 * ancestor.
 */

%u-posAbsoluteCenter {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}

/**
 * 1. Make sure fixed elements are promoted into a new layer, for performance
 *    reasons.
 */

%u-posFixed {
	position: fixed;
	backface-visibility: hidden; // [1]
}

%u-posRelative {
	position: relative;
}

%u-posStatic {
	position: static;
}
